
$font-family: 'VT323', monospace;
$font-size-base: 1.6rem;

body {
  margin: 0 0 100px 10px;
  background-color: $macc-background;
  color: $macc-foreground;
  background-image: radial-gradient(
    rgba(55, 41, 34, 0.75), #1c120d 120%
  );
  text-shadow: 0 0 4px $macc-fg4;
  font-family: $font-family;
  font-size: $font-size-base;

  &:after {
   content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: repeating-linear-gradient(
      0deg,
      rgba(55, 41, 34, 0.25),
      rgba(55, 41, 34, 0.25) 1px,
      transparent 1px,
      transparent 2px
    );
    pointer-events: none;
  }
}

.body-wrapper {

}

h1, h2, h3, h4, h5 {
  font-size: $font-size-base;
  margin: 0;
  font-weight: normal;
}

h1, h2, h3 {
 color: $macc-fg0
}

a {
  color: $macc-foreground;
}

pre, code {
  white-space: pre;
  font-family: $font-family;
  font-size: $font-size-base;
  padding: 0;
  margin: 0;
}


ul,li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0;
}
